VITE_SUPABASE_URL=https://gzcaxaeeqtahcadmmkxo.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd6Y2F4YWVlcXRhaGNhZG1ta3hvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk3MDMyNjUsImV4cCI6MjA5NTI3OTI2NX0.OnN6Kw0YR1bqwSC3J_qvSiK2W0Qn8-3UGWsZJKskPio
NEXT_PUBLIC_SUPABASE_URL=https://gzcaxaeeqtahcadmmkxo.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd6Y2F4YWVlcXRhaGNhZG1ta3hvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk3MDMyNjUsImV4cCI6MjA5NTI3OTI2NX0.OnN6Kw0YR1bqwSC3J_qvSiK2W0Qn8-3UGWsZJKskPio
VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_TEMPLATE_ID=
VITE_EMAILJS_PUBLIC_KEY=
GEMINI_API_KEY=
GOOGLE_MAPS_PLATFORM_KEY=

